@theme-name = Dark
@main-background = #222222
@main-alternate-background = #333333
@widget-background = #444444
@widget-alternate-background = #555555
@widget-hover-background = #777777
@widget-foreground = #666666
@text = #ffffff
@scrollbar-handle = #aaaaaa
@major-accent = #666666
@toggle-unchecked = #777777
@toggle-checked = #00b0ff
@selected-color = #ffffff
@selected-background = #666666
@slider-color = #00b0ff
@slider-border-color = #00b0ff